{% extends "_layouts/default.twig" %}

{% block content %}

    <!-- Content section -->
    <section class="section" id="section-about">
        <div class="text-center overflow-hide"><h4 class="header-ams">About Us</h4></div>                   
        <div class="image-full">
            <div class="bg-alpha-pattern1-secondary p-5">
                <div class="container">
                    <h2 class="header-am mb-0">Back To The Motor League</h2>
                    <p class="lead text-center">
                        In Gear We Trust
                    </p>
                    <h4 class="clearfix">Background</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id commodi officiis tenetur aut voluptas provident eaque error ad, impedit, modi harum eveniet molestiae nobis accusamus, soluta libero? Ducimus, beatae dolor alias exercitationem asperiores perferendis. Id inventore ipsum voluptatum temporibus nulla nihil placeat, recusandae laboriosam molestiae! Deleniti, beatae, corporis eius nobis est officiis fugit, vitae repellendus placeat harum delectus totam minima! Optio adipisci, unde corrupti explicabo distinctio est voluptatibus voluptates sed?</p>
                    <h4 class="clearfix">Founding Fathers</h4>
                    <div class="my-3 my-sm-5 my-lg-4 text-center">
                        <div class="text-primary mb-3">
                            <img src="./assets/img/profile5.jpg" alt="Profile 5" data-src="holder.js/160x160/thumb" class="img-thumbnail rounded-circle my-3">
                            <div class="text-center font-weight-bold">Dr. Henry Jekyll</div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-7 col-sm-4 col-md-3 col-lg-2">
                                <div class="text-success">
                                    <img src="./assets/img/profile9.jpg" alt="Profile 9" data-src="holder.js/100x100/auto" class="img-thumbnail rounded-circle my-3">
                                    <div class="text-center">Dr. Edward Hyde</div>
                                </div>
                            </div>
                            <div class="col-7 col-sm-4 col-md-3 col-lg-2">
                                <div class="text-success">
                                    <img src="./assets/img/profile10.jpg" alt="Profile 10" data-src="holder.js/100x100/auto" class="img-thumbnail rounded-circle my-3">
                                    <div class="text-center">Dr. John Utterson</div>
                                </div>
                            </div>
                            <div class="col-7 col-sm-4 col-md-3 col-lg-2">	
                                <div class="text-success">
                                    <img src="./assets/img/profile11.jpg" alt="Profile 11" data-src="holder.js/100x100/auto" class="img-thumbnail rounded-circle my-3">
                                    <div class="text-center">Dr. Louis Stevenson</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sint perspiciatis nobis consequuntur voluptate doloribus fugit modi vero eveniet tempora quos recusandae facere nostrum quis beatae necessitatibus, autem totam voluptatem qui incidunt mollitia corrupti sapiente, dolorum temporibus. Quasi esse ipsum reprehenderit! Asperiores sunt dignissimos ex molestias hic unde magnam ipsa laudantium. Aliquam, architecto provident est et nisi optio iste velit dolore quas hic. Quasi nulla placeat vero, saepe rerum aliquid, dignissimos commodi consequatur temporibus nemo omnis non repellat necessitatibus perspiciatis recusandae? Recusandae, accusantium? Non tenetur velit consequuntur illum optio, voluptates porro eaque consectetur magni iure placeat nulla culpa facere dolorem?</p>
                    <div>
                        <h4 class="clearfix">History</h4>
                        <img src="./assets/img/history.jpg" alt="History" data-src="holder.js/1200x400/thumb" class="img-fluid img-thumbnail mb-2">
                        <p class="text-center text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vel nostrum quis voluptas quaerat alias enim, minus est deserunt. Esse.</p>
                    </div>              
                    <div>
                        <h4 class="clearfix">Vision and Mission</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab fuga quae enim nisi, accusamus itaque voluptatibus illum, perspiciatis dicta praesentium ullam, eius natus sunt quasi ut incidunt laborum voluptate laudantium explicabo minus aperiam maxime! Fugiat nostrum, recusandae ut enim quae similique vero sit voluptatem ea nulla adipisci voluptatum quos omnis.</p>
                    </div>
                    <!-- </div> -->
                </div>
            </div>    
        </div>
    </section>

{% endblock %}