{% extends "_layouts/default.twig" %}

{% block content %}
            
<!-- <section class="bg-home1" id="home"> -->
                <section class="header-carousel">
                    <div class="slick-fullscreen">
                        <div class="slide" data-filter="overlay-dark">
                            <div class="slide-overlay" style="background-image: url('assets/images/header-home1b.jpg');"></div>
                            <div class="slide-content">
                                <div class="slide-content__body">
                                    <h1 class="display-4 my-3 pt-2 my-md-5 pt-md-5 text-white headline copy-text-head">
                                        Motomobs <br/>Bootstrap 4 Based Motorcycle Garage Theme
                                    </h1>
                                    <div class="slide-content__caption">
                                        <img src="assets/images/divider3-warning.png" class="mx-auto text-center img-fluid">
                                        <p class="lead text-white my-4">One page website template for motorcycles and garage &amp; industries</p>
                                        <a href="javascript:;" class="btn btn-outline-warning btn-md btn-ghost-light">Contact Us</a>
                                        <div class="mx-auto text-center mt-4">
                                            <a href="#demos" class="text-light scrollTo button-down">
                                                See Demos
                                                <div class="clearfix">
                                                    <span class="btn text-light">
                                                        <i class="fas fa-chevron-down up-down-pulse"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide" data-filter="overlay-dark">
                            <div class="slide-overlay" style="background-image: url('assets/images/header-home2.jpg');"></div>
                            <div class="slide-content">
                                <div class="slide-content__body">
                                    <h1 class="display-4 my-3 pt-2 my-md-5 pt-md-5 text-white headline copy-text-head">
                                        Responsive, extendible with SASS based
                                    </h1>
                                    <div class="slide-content__caption">
                                        <img src="assets/images/divider3-warning.png" class="mx-auto text-center img-fluid">
                                        <p class="lead text-white my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda itaque quibusdam laudantium.</p>
                                        <div class="py-2">
                                            <a href="#contact" class="btn btn-outline-light btn-sm btn-ghost-sm scrollTo">Reserves</a>
                                            <a href="javascript:;" class="btn btn-outline-light btn-sm btn-ghost-sm book-catering">Catering</a>
                                        </div>
                                        <div class="mx-auto text-center mt-4">
                                            <a href="#demos" class="text-light scrollTo button-down">
                                                See Demos
                                                <div class="clearfix">
                                                    <span class="btn text-light">
                                                        <i class="fas fa-chevron-down up-down-pulse"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide" data-filter="overlay-dark">
                            <div class="slide-overlay" style="background-image: url('assets/images/header-home3.jpg');"></div>
                            <div class="slide-content">
                                <div class="slide-content__body">
                                    <h1 class="display-4 my-3 pt-2 my-md-5 pt-md-5 text-white headline copy-text-head">
                                        Sample pages and color themes bundled with 4 color themes and theme switcher
                                    </h1>
                                    <div class="slide-content__caption">
                                        <img src="assets/images/divider3-warning.png" class="mx-auto text-center img-fluid">
                                        <a href="javascript:;" class="btn btn-outline-warning btn-ghost-sm btn-lg mt-3 mt-sm-5">Hook Up</a>
                                    </div>
                                    <div class="mx-auto text-center mt-4">
                                        <a href="#demos" class="text-light scrollTo button-down">
                                            See Demos
                                            <div class="clearfix">
                                                <span class="btn text-light">
                                                    <i class="fas fa-chevron-down up-down-pulse"></i>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bg-home1" id="home">
                    <div class="container">
                        <div class="row my-5">
                            <div class="col-md-4 text-center mb-5">
                                <h3 class="text-theme">Default Home</h3>
                                <a href="javascript:;"><img src="assets/images/global/demo1.png" class="img-fluid ilist-c"></a>
                            </div>
                            <div class="col-md-4 text-center mb-5">
                                <h3 class="text-theme">Slider Home</h3>
                                <a href="javascript:;"><img src="assets/images/global/demo1.png" class="img-fluid ilist-c"></a>
                            </div>
                            <div class="col-md-4 text-center mb-5">
                                <h3 class="text-theme">Video Home</h3>
                                <a href="javascript:;"><img src="assets/images/global/demo1.png" class="img-fluid ilist-c"></a>
                            </div>
                            <div class="col-md-4 text-center mb-5">
                                <h3 class="text-theme">Isotope Home</h3>
                                <a href="javascript:;"><img src="assets/images/global/demo1.png" class="img-fluid ilist-c"></a>
                            </div>
                            <div class="col-md-4 text-center mb-5">
                                <h3 class="text-theme">Chef Profile</h3>
                                <a href="javascript:;"><img src="assets/images/global/demo1.png" class="img-fluid ilist-c"></a>
                            </div>
                            <div class="col-md-4 text-center mb-5">
                                <h3 class="text-theme">Contact Page</h3>
                                <a href="javascript:;"><img src="assets/images/global/demo1.png" class="img-fluid ilist-c"></a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bg-home2" id="feature">
                    <div class="container">
                        <div class="row">
                            <div class="section-title text-center col-md-12">
                                <h1>Motomobs Feature</h1>
                                <p>There are many features in Motomobs themes, here are a few items:</p>
                            </div>
                            <div class="feature-list col-md-12">
                                <ul class="d-inline list-unstyled">
                                    <li>Valid HTML5 &amp; CSS3</li>
                                    <li>Neat, clean and simple design</li>
                                    <li>Creative and Modern Design</li>
                                    <li>2+ Footer Variation</li>
                                    <li>Total 54 HTML Pages</li>
                                    <li>Built Based on Bootstrap 4</li>
                                    <li>Fully Responsive</li>
                                    <li>4 home pages</li>
                                    <li>Cross Browser Optimization</li>
                                    <li>Well Commented HTML &amp; CSS files</li>
                                    <li>Google Fonts</li>
                                    <li>Well Documented and Sample Page</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

{% endblock %}       