{% extends "_layouts/default.twig" %}

{% block content %}
                
                <!-- Content section -->
                <section class="section" id="section-custom">
                    <div class="container">
                        <div class="text-center overflow-hide"><h4 class="header-ams font-weight-bold">Our Services</h4></div>
                    </div>
                    <div class="row-fluid">
                        <div class="content-service flex-wrap h-100" style="background:linear-gradient(rgba(0,0,0, 0.65),rgba(0,0,0, 0.65)), url('assets/img/unsplash-volkan-olmez-340811.jpg') no-repeat top center fixed; background-size: cover;">
                            <div class="d-flex align-items-stretch">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <h3 class="featurette-heading font-weight-bold">Classic Restore. <span class="text-muted">Old School Motorcycles.</span></h3>
                                            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure mollitia fuga reprehenderit quod eius. Facilis ea consectetur aut ab enim, dolore, similique fugiat harum perspiciatis cupiditate laborum. Iusto expedita optio atque similique, nemo nostrum perspiciatis repellat accusantium hic ab est ea illo praesentium omnis voluptatibus suscipit in, cupiditate incidunt molestiae necessitatibus? Eius, temporibus rem. Dicta eveniet quod esse. Enim hic mollitia voluptatem, laborum fugit ipsa asperiores perferendis reiciendis vel eos? Voluptates tenetur minima sapiente ea aspernatur! Facere laborum ut, id animi, dolorem tempore, incidunt voluptatum placeat quidem qui molestias labore.</p>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas adipisci explicabo expedita at architecto. Vero porro distinctio praesentium ea! Numquam, repellat deleniti! Magni itaque facere dolor cupiditate harum asperiores in!
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="tz-gallery">
                                                    <div class="row">
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom1.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom1.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom2.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom2.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom3.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom3.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom4.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom6.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom5.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom5.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom6.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom9.jpg" alt="Custom"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <h3>At iste similique ex excepturi</h3>
                                            <ul>
                                                <li><a href="">lorem pisum</a></li>
                                                <li><a href="">consecteteur set</a></li>
                                                <li><a href="">adius let triom</a></li>
                                                <li><a href="">mire los trede</a></li>
                                                <li><a href="">dolor sit amet</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="content-service flex-wrap h-100" style="background:linear-gradient(rgba(0,0,0, 0.65),rgba(0,0,0, 0.65)), url('assets/img/unsplash-rohan-makhecha-418632.jpg') no-repeat top center fixed; background-size: cover;">
                            <div class="d-flex align-items-stretch">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <h3 class="featurette-heading font-weight-bold">Exterior and Interior. <span class="text-muted">Revive Dream Ride to Life.</span></h3>
                                            <p class="lead">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni esse delectus vero dignissimos deserunt sed modi! Similique quisquam voluptates dolor libero accusantium blanditiis repudiandae quis quae ex dicta quos enim, adipisci ipsa animi iste magnam, doloremque aliquam est nobis! Veritatis aspernatur aliquam explicabo alias non. Expedita dolore cumque doloribus fugit itaque, sapiente unde delectus ullam ut ex incidunt! Eius commodi architecto suscipit nam ab dolorum debitis quod quo officiis ad eum quibusdam accusamus magni, consectetur iusto tenetur. Aut dolor nemo quo aliquam quisquam. Voluptatum corporis, voluptate saepe facere blanditiis deserunt.
                                            </p>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas adipisci explicabo expedita at architecto. Vero porro distinctio praesentium ea! Numquam, repellat deleniti! Magni itaque facere dolor cupiditate harum asperiores in!
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="tz-gallery">
                                                    <div class="row">
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom1.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom1.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom2.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom2.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom3.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom3.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom4.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom6.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom5.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom5.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom6.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom9.jpg" alt="Custom"></a></div>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <h3>At iste similique ex excepturi</h3>
                                            <ul>
                                                <li><a href="">lorem pisum</a></li>
                                                <li><a href="">consecteteur set</a></li>
                                                <li><a href="">adius let triom</a></li>
                                                <li><a href="">mire los trede</a></li>
                                                <li><a href="">dolor sit amet</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>   
                        <div class="content-service flex-wrap h-100" style="background:linear-gradient(rgba(0,0,0, 0.65),rgba(0,0,0, 0.65)), url('assets/img/StockSnap_YB9MQVJ5MM.jpg') no-repeat top center fixed; background-size: cover;">
                            <div class="d-flex align-items-stretch">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <h3 class="featurette-heading font-weight-bold">Engine Boost. <span class="text-muted">Tuning up the Power.</span></h3>
                                            <p class="lead">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus sapiente quas, saepe aliquam pariatur nemo expedita consequuntur ducimus odio beatae numquam, et odit consectetur unde enim ut? Illum minima ratione tenetur excepturi nihil temporibus, mollitia at, ea quibusdam, obcaecati sed optio! Nesciunt doloremque expedita illum facilis ad, sit laborum vel, saepe optio a eos alias iste veniam omnis beatae magnam suscipit culpa ab! Rem repellendus deserunt praesentium debitis nisi cupiditate sunt minima, aliquam error voluptatibus quos nulla modi asperiores labore quaerat dolore reprehenderit dolorem assumenda dolorum eaque est. Vel, quae.
                                            </p>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas adipisci explicabo expedita at architecto. Vero porro distinctio praesentium ea! Numquam, repellat deleniti! Magni itaque facere dolor cupiditate harum asperiores in!
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="tz-gallery">                                    
                                                    <div class="row">
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom1.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom1.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom2.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom2.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom3.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom3.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom4.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom6.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom5.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom5.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom6.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom9.jpg" alt="Custom"></a></div>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <h3>At iste similique ex excepturi</h3>
                                            <ul>
                                                <li><a href="">lorem pisum</a></li>
                                                <li><a href="">consecteteur set</a></li>
                                                <li><a href="">adius let triom</a></li>
                                                <li><a href="">mire los trede</a></li>
                                                <li><a href="">dolor sit amet</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-service flex-wrap h-100" style="background:linear-gradient(rgba(0,0,0, 0.65),rgba(0,0,0, 0.65)), url('assets/img/unsplash-christopher-burns-200314.jpg') no-repeat top center fixed; background-size: cover;">
                            <div class="d-flex align-items-stretch">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <h3 class="featurette-heading font-weight-bold">Lorem impsum dolor sit amet</h3>
                                            <p class="lead">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus sapiente quas, saepe aliquam pariatur nemo expedita consequuntur ducimus odio beatae numquam, et odit consectetur unde enim ut? Illum minima ratione tenetur excepturi nihil temporibus, mollitia at, ea quibusdam, obcaecati sed optio! Nesciunt doloremque expedita illum facilis ad, sit laborum vel, saepe optio a eos alias iste veniam omnis beatae magnam suscipit culpa ab! Rem repellendus deserunt praesentium debitis nisi cupiditate sunt minima, aliquam error voluptatibus quos nulla modi asperiores labore quaerat dolore reprehenderit dolorem assumenda dolorum eaque est. Vel, quae.
                                            </p>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas adipisci explicabo expedita at architecto. Vero porro distinctio praesentium ea! Numquam, repellat deleniti! Magni itaque facere dolor cupiditate harum asperiores in!
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="tz-gallery">
                                                    <div class="row">
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom1.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom1.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom2.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom2.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom3.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom3.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom4.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom6.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom5.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom5.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom6.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom9.jpg" alt="Custom"></a></div>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <h3>At iste similique ex excepturi</h3>
                                            <ul>
                                                <li><a href="">lorem pisum</a></li>
                                                <li><a href="">consecteteur set</a></li>
                                                <li><a href="">adius let triom</a></li>
                                                <li><a href="">mire los trede</a></li>
                                                <li><a href="">dolor sit amet</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-service flex-wrap h-100" style="background:linear-gradient(rgba(0,0,0, 0.65),rgba(0,0,0, 0.65)), url('assets/img/unsplash-matthew-bennett-418903.jpg') no-repeat top center fixed; background-size: cover;">
                            <div class="d-flex align-items-stretch">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <h3 class="featurette-heading font-weight-bold">Lorem impsum dolor sit amet</h3>
                                            <p class="lead">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus sapiente quas, saepe aliquam pariatur nemo expedita consequuntur ducimus odio beatae numquam, et odit consectetur unde enim ut? Illum minima ratione tenetur excepturi nihil temporibus, mollitia at, ea quibusdam, obcaecati sed optio! Nesciunt doloremque expedita illum facilis ad, sit laborum vel, saepe optio a eos alias iste veniam omnis beatae magnam suscipit culpa ab! Rem repellendus deserunt praesentium debitis nisi cupiditate sunt minima, aliquam error voluptatibus quos nulla modi asperiores labore quaerat dolore reprehenderit dolorem assumenda dolorum eaque est. Vel, quae.
                                            </p>
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas adipisci explicabo expedita at architecto. Vero porro distinctio praesentium ea! Numquam, repellat deleniti! Magni itaque facere dolor cupiditate harum asperiores in!
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="tz-gallery">
                                                    <div class="row">
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom1.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom1.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom2.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom2.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom3.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom3.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom4.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom6.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom5.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom5.jpg" alt="Custom"></a></div>
                                                        <div class="col-sm-5 col-md-4 pb-3"><a href="./assets/img/custom6.jpg" class="lightbox"><img class="img-fluid border border-secondary ilist-c" src="./assets/img/custom9.jpg" alt="Custom"></a></div>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <h3>At iste similique ex excepturi</h3>
                                            <ul>
                                                <li><a href="">lorem pisum</a></li>
                                                <li><a href="">consecteteur set</a></li>
                                                <li><a href="">adius let triom</a></li>
                                                <li><a href="">mire los trede</a></li>
                                                <li><a href="">dolor sit amet</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

{% endblock %}