<!doctype html>
<html lang="zxx">
	
  <head>
      
    {% include "../_includes/global/head.twig" %}
    
  </head>

<body>	
    <!-- HEADER -->
    {% include "../_includes/header.twig" %}
    
    <!-- MAIN -->
    <main>
		{% block content %}

		{% endblock %}
    </main>

    <!-- FOOTER -->
    {% include "../_includes/footer.twig" %}
    
    <!-- SCRIPTS -->
    {% include "../_includes/global/scripts.twig" %}

</body>
</html>