        <link rel="icon" href="{{ favicon }}">
        <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    
        <title>{{ title }}</title>
        
        {% include "styles.twig" %}